header {
  background-color: #4CAF50;
  color: #fff; 
  padding: 20px;
  text-align: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none; 
  color: #fff; 
}

nav {
  margin-top: 10px;
}

nav a {
  color: #fff; 
  text-decoration: none; 
  margin: 0 10px;
}