body{
    background-color: black;
}

header{
    padding: 20px;
    text-align: left;
    margin-left: 80px;
    margin-right: 100px;
}

nav{
    display: inline-block; /** para ocupar somente o nescessario **/
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none; /** retira o ponto de uma lista **/
}


nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: rgba(0, 204, 255, 0.815);
    text-decoration: none;
    font-family: "Kanit", sans-serif;
    font-size: 20px;
    padding: 35px;
}


.kanit-regular {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.titulo h4{
    color: white;
    margin-left: 120px;
    color: rgba(0, 204, 255, 0.815);
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 48px; 
    margin-top: 10px;
}
      


main {
    margin-top: 70px;
    text-align: center;
    color: white;
    color: rgba(0, 204, 255, 0.815);
    text-decoration: none;
    font-family: "Kanit", sans-serif;
}



input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    background-color: black; 
    border: 1px solid  DarkSlateBlue;
    padding: 8px; /* Adiciona espaço interno para o texto dentro das caixas de entrada e área de texto */
}

input[type="submit"] {
    background-color: rgba(0, 204, 255, 0.815);
    color: white;
    border: none; /* Remove a borda do botão de envio */
    padding: 10px 100px; 
    cursor: pointer;
}



