body{
    background-color: black;
}

header{
    padding: 20px;
    text-align: left;
    margin-left: 80px;
}


nav{
    display: inline-block; /** para ocupar somente o nescessario **/
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none; /** retira o ponto de uma lista **/
}


nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: rgba(0, 204, 255, 0.815);
    text-decoration: none;
    font-family: "Kanit", sans-serif;
    font-size: 20px;
    padding: 35px;
}

.kanit-light {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
}

img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-left: 110px;
    margin-top: 100px;
}

main {
    display: flex; /* flexbox para criar um layout flexivel */
    align-items: center; /* alinha verticalmente o conteudo */
}

.textoSobre{
    margin-left: 20px;
    font-size: 18px; 
}

.textoSobre p{
    color: white;
}

.textoSobre h2{
    color: rgba(0, 204, 255, 0.815);
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: italic;
}

  







